---
import Layout from "../layouts/Layout.astro";
import FreeRoomsSvelteComponent from "../components/FreeRoomsSvelteComponent.svelte";

const BACKEND_URL = import.meta.env.BACKEND_URL;
---

<!-- TODO make this a SSR rendered site so we don't need client-side javascript anymore  -->
<Layout title="Leere Räume">
    <main>
        <h1>
            <a href={"/"}>Home</a> / <span class="text-gradient"
                >Leere Räume</span
            >
        </h1>
        <FreeRoomsSvelteComponent client:load backendURL={BACKEND_URL} />
    </main>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    a {
        text-decoration: underline;
        color: black;
    }
    a:visited {
        color: black;
    }
</style>
