---
import type { Room } from "../timeAndDate";
export interface Props {
    room: Room;
}
const { room } = Astro.props;
---

<li class="room-card">
    <span>
        <a href={"/" + room.Building + "/" + room.Name}>
            <h2>
                {room.Name}
            </h2>
        </a>
        <!-- <div class="container"> -->
        <!--     <div class="item first-col">DS {index + 1}</div> -->
        <!--     <div class="item sec-col">{lecture}</div> -->
        <!-- </div> -->
    </span>
</li>
<style>
    .room-card {
        list-style: none;
        display: flex;
        padding: 0.15rem;
        background-color: white;
        background-image: var(--accent-gradient);
        background-size: 400%;
        border-radius: 0.5rem;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        margin-top: 1em;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .room-card > span {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: 1rem 1.3rem;
        border-radius: 0.35rem;
        color: #111;
        background-color: white;
        opacity: 0.8;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
        color: #444;
    }
    .room-card:is(:hover, :focus-within) {
        background-position: 0;
    }
    .room-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent));
    }
    .container {
        display: grid;
        gap: 10px;
        margin-top: 1em;
    }
    .sec-col {
        grid-column: 2;
    }
    a {
        text-decoration: underline;
        color: black;
    }
    a:visited {
        color: black;
    }
</style>
