---
export interface Props {
    body: string;
}

const { body } = Astro.props;
---

<script>
    const CURRENT_DATE = new Date();

    type DS = 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
    function isDuringDs(ds: DS, date: Date) {
        const dsBegin = new Date(date.getTime());
        dsBegin.setHours(7, 30);
        dsBegin.setMinutes(dsBegin.getMinutes() + 110 * (ds - 1));
        const dsEnd = new Date(date.getTime());
        dsEnd.setHours(9, 0);
        dsEnd.setMinutes(dsEnd.getMinutes() + 110 * (ds - 1));

        if (date >= dsBegin && date <= dsEnd) {
            return true;
        } else {
            return false;
        }
    }

    function getCurrentDs(date: Date) {
        let getCurrentDs = 1;
        // find current DS
        if (isDuringDs(1, date)) {
            getCurrentDs = 1;
        } else if (isDuringDs(2, date)) {
            getCurrentDs = 2;
        } else if (isDuringDs(3, date)) {
            getCurrentDs = 3;
        } else if (isDuringDs(4, date)) {
            getCurrentDs = 4;
        } else if (isDuringDs(5, date)) {
            getCurrentDs = 5;
        } else if (isDuringDs(6, date)) {
            getCurrentDs = 6;
        } else if (isDuringDs(7, date)) {
            getCurrentDs = 7;
        } else if (isDuringDs(8, date)) {
            getCurrentDs = 8;
        } else if (isDuringDs(9, date)) {
            getCurrentDs = 9;
        } else if (isDuringDs(10, date)) {
            getCurrentDs = 10;
        } else {
            getCurrentDs = 0;
        }
        return getCurrentDs;
    }

    type RoomOccupationInfo = {
        occupied: boolean;
        until: number; // in milliseconds
    };

    function isRoomOccupied(ds: number, room: any) {}

    const currentCard = document.getElementById("room-status-current");
    const currentDs = getCurrentDs(CURRENT_DATE);
    if (currentCard !== null) {
        // check if room is occupied in current DS
        currentCard.textContent = currentDs.toString();
    }

    // if weekend then room is free by default
    if (CURRENT_DATE.getDay() == 0 || CURRENT_DATE.getDay() == 6) {
        if (currentCard) {
            currentCard.textContent = "Raum ist frei! :)";
        }
    }

    // highlight current day/time slot
    // put banner at the top whether room currently free
</script>

<li class="occupation-card">
    <span>
        <h2 id="room-status-current">Unbekannter Raum Status</h2>
        <p>
            {body}
        </p>
    </span>
</li>
<style>
    .occupation-card {
        list-style: none;
        display: flex;
        padding: 0.15rem;
        background-color: white;
        background-image: var(--accent-gradient);
        background-size: 400%;
        border-radius: 0.5rem;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .occupation-card > span {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: 1rem 1.3rem;
        border-radius: 0.35rem;
        color: #111;
        background-color: white;
        opacity: 0.8;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
        color: #444;
    }
    .occupation-card:is(:hover, :focus-within) {
        background-position: 0;
    }
    .occupation-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent));
    }
</style>
